* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
body{
  background-color: #1f242d; font-family: "Poppins",sans-serif;
  color: white;
}
.header{ 
    padding: 25px 10%; background: transparent;
    display:flex; justify-content: space-between; 
}
.logo{
  font-size: 27px; color: #fff; text-decoration: none;
  margin-left: 5%;
  font-weight: 600; cursor: default;
}
.navbar a {
  color: #fff; text-decoration: none;
  font-weight: 600;
  padding: 0px 10px;
  transition: 0.3s all;
}

.navbar a:hover,
.navbar a.active {
    color: #0ef;
}
.hero-container{
  display: flex; 
  padding: 25px 10%;
  justify-content: center;
  align-items: center;
}
.info-side{
  padding: 5%;
  margin-left: 10%;
}
.info-side h3{
  font-size: 32px;
  font-weight: 700; margin: 10px 0;
  letter-spacing: 1px;
}
.info-side h1{
  font-size: 45px; 
  font-weight: 700;
  margin: -3px 0;
}
.info-side h2 span{
  color: #0ef;
  font-size: 30px;
  font-weight: 700;
}
image{
  width: 50%;
  height: 80%;
  position: absolute;
  bottom: 0;
  right: 100px;
}
.image img{
  height: 50%;
  position: absolute;
  top: 30%;
  left: 70%;
  bottom: 0;
  transform: translateX(-50%);
}
.home-sci a{
  display: inline-flex; justify-content: center;
  align-items: center; width: 46px; height: 40px;
  background: transparent; 
  border: 2px solid #0ef; border-radius: 50%; 
  font-size: 20px; color: #0ef; 
  text-decoration: none; 
  margin: 30px 15px 30px 0;
}
.home-sci a:hover{
  background: #0ef;
  color: #081b29;
  box-shadow: 0 0 20px #0ef;
}
.btn-box{
  display: inline-block;
  background: #0ef; 
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  padding: 15px 28px; border-radius: 40px;
  text-decoration: none;
  font-weight: 600; 
  
}
.btn-box:hover{
  box-shadow: 0 0 5px cyan,0 0 25px cyan,
  0 0 50px cyan,0 0 100px cyan,0 0 200px cyan;
}
.section h1{
  margin: 50%;
}
.section h1 span{
  margin: 50%;
}
.about{
  display: flex; 
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--secong-bg-color);
}
.about-img img{
  margin-top: 5%;
  padding: 10%;
  width: 40vw;
}
.heading{
  text-align: center;
  font-size: 3rem;
  top: 20%;
}
.about-content h1{
  text-align: center;
  color: #0ef;
  line-height: 1.2;
  margin-top: 1%;
}
.about-content h2{
  margin-top: 5%;
  font-size: 2rem;

}
.about-content p{
  font-size: 1.1rem;
  font-weight: 50%;
  margin: 3rem 0 2rem;
}
.contact h2{
  margin-bottom: 3rem;
  color: #0ef;
}
.contact form {
  max-width: 50rem;
  margin: 1rem auto;  text-align: center;
  margin-bottom: 3rem;
}
.contact form .input-box{
  display: flex; 
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 1rem;
}
.contact form .input-box input,
.contact form textarea{
  width: 100%;
  padding: 1.5rem;
  font-size: 1rem;
  color: var(--text-color);
  background: var(--secong-bg-color);
  border-radius: 1rem;
  margin: .7rem;
}
.contact form .input-box input{
  width: 45%;
}
.contact form textarea{
  resize: none;
}