* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
body{
  background-color: #1f242d; font-family: "Poppins",sans-serif;
  color: white;
}
.header{ 
    padding: 25px 10%; background: transparent;
    display:flex; justify-content: space-between; 
}
.logo{
  font-size: 27px; color: #fff; text-decoration: none;
  font-weight: 600; cursor: default;
}
.navbar a {
  color: #fff; text-decoration: none;
  font-weight: 600;
  padding: 0px 10px;
  transition: 0.3s all;
}

.navbar a:hover,
.navbar a.active {
    color: #0ef;
}
.hero-container{
  display: flex; 
  padding: 25px 10%;
  justify-content: center;
  align-items: center;
}
.info-side h3{
  font-size: 25px;
  font-weight: 500; margin: 50px 0;
  letter-spacing: 1px;
}
.info-side h1{
  font-size: 45px; letter-spacing: 1px;
  font-weight: 700;
}
.hero-img{
  right: 100px;
}
.hero-img img{
  width: 300px;
}
i{
  position: relative; border: 2px solid #0ef;
  padding: 10px; border-radius: 50%;
  color: #0ef; margin: 0px 8px; 
  transition: 0.3ms;
}
i:hover{
  box-shadow: 0 0 20px #0ef;
}

button{
  background-color: #0ef; margin: 30px;
  padding: 20px 70px; border: none;
  border-radius: 25px; cursor: pointer;
  font-weight: 700; transition: .3s;
  box-shadow: 0 0 15px #0ef;
}
button :hover{
  box-shadow: none;
}