.{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: "Poppins","sans-serif"; 
}
body{
    background-color:rgb(130, 106, 251);
    min-height: 100vh;
    display: flex; align-items: center;
    padding: 20px;
    justify-content: center;
    position: static;
}
.container{
    height: 1350px;
    position: relative; max-width: 800px; width: 80%;
    background: #adcded; padding: 25px;
    border-radius: 5px; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 1);
}
.container header{
    margin-top: 25px;
    font-size: 1.5rem; color: #333;
    font-weight: 500; text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.container .form{
    position: relative;

}
.form .input-box{
    width: 65%; margin-top: 20px;
    top: 10px;
}
.input-box label{
    color: #333;
    top: 10px;
}
.form :where(.input-box input, .select-box){
    position: relative; height: 50px; width: 100%;
    outline: none; border: 1px solid #ddd;
    font-size: 1rem; color: #707070;
    margin-top: 8px; 
    border-radius: 6px;
}
.form .column{
    display: flex; column-gap: 70px;
}
.form .gender-box{
    margin-top: 20px;
}
.gender-box h3{
    color: #080707; font-size: 1rem; font-weight: 400;
    margin-bottom: 8px;
}
.form :where(.gender-option, .gender){
    display: flex;
    align-items: center; column-gap: 50px;
}
.form .gender{
    column-gap: 5px; cursor: pointer;
}
.form :where(.gender input, .gender label){
    cursor: pointer;
}
.address :where(input ,.select-box ){
    margin-top: 15px;
}
.select-box select{
    height: 100%; width: 110%;
    outline: none; border: none; color: #707070;
    font-size: 1rem;
}
.input-box input[type="reset"] {
    background-color: rgb(89, 82, 231);
    color: white; text-align: center;
}

.input-box input[type="submit"] {
    background-color: rgb(89, 82, 231);
    color: white; text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="reset"] {
    display: block;
    margin-top: 25px;
    margin-left: 150px;
}

input[type="submit"] {
    margin-top: 25px;
    margin-left: 200px;
}
.frame {
    width: 150px;
    height: 150px;
    border: 3px solid #ccc;
    background: #eee;
    margin-left: 600px;
    margin-top: 20px;
    padding: 15px 10px;
}
img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.form input[type="file"]{
    margin-left: 600px;
}
/* Resposive */
@media screen and (max-width: 500px) {
    .form .column {
        flex-wrap: wrap;
    }
}

